
header {
  color: #0495bf;
}
.logo{
  float:left;
}

.vcard{
  float:right;
}

.clear-fix::after{
  content: " ";
  clear: both;
  display: table;
}

main h1{
  text-align: center;
}

.projects-container{
  width:90%;
  margin: auto;
}

.project-slide {
  width: 50%;
  overflow: auto;
}

.project-slide img {
  width:100%;
}

footer .footer-content{
 float: right;
 color: #0495bf;
}
